html {
  font-size: 62.5%;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  max-width: 640px;
  width: 100%;
  margin: 0;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

li,a {
  list-style: none;
  text-decoration: none;
}

a {
  color: #000;
}

body {
  width: 100%;
}

header {
  background-color: rgba(255, 255, 255, 0.5);

  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  font-size: 1.2rem;
  width: 100%;
}

.header__title {
  margin: 10px 0 0 10px;
  display: none;
  clear: both;
}

.toggle {
  display: none;
}
.menu {
  float: right;
}
.menu__item {
  display: none;
  float: left;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 20px 0 20px 0;
}
.menu__item:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
}
.menu__item a {
  padding: 20px 20px 20px 20px;
}
/*
.type{
  background-image: url(./images/background_pattern2.png);
  background-repeat: repeat-y;
  background-size: contain;
  background-position: center center;
}

*/
.breadCrumb{
  display: none;
}

.top {
  height: 400px;
  width: 100%;
  position: relative;
  background: url(./images/asobousai_top_twice.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.top img {
  display: block;
  margin: 0 auto;
  padding-top: 120px;
  width: 60%;
}

.general {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 50px;
}

.general__concept {
  font-size: 2.0rem;
  font-weight: bold;
  padding-bottom: 10px;
}
.general__catchcopy {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 90%;
}

.general__description {
  margin: 0 auto;
  width: 90%;
  font-size: 1.6rem;
}
.date {
  margin-top: 30px;
}
.date__title {
  color: #666;
  font-weight: normal;
  font-size: 1.6rem;
}

.date__detail {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 15px;
}

.general__goDetail {
  width: 90%;
  color: #2A9CC9;
  font-size: 1.6rem;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.general__goDetail a{
    color: #2A9CC9;
}

.general__goDetail a:visited{
    color: #2A9CC9;
}

.program {
  background: url(./images/background_pattern2.png);
  background-repeat: repeat-y;
  background-size: contain;
  background-position: center center;
}


.program__page{
  width: 95%;
  margin: 0 auto;
  padding-bottom: 20px;
  margin-top: 0px
}

.program__page a{
  color: #2A9CC9;
}

.program__event{
  padding-top: 15px;
  margin-bottom: 30px;
}

.program__contents{
  background-color: #fff;
  display: table;
  border-spacing: 2em 10px;
  padding: 20px 12px 20px 12px;
  border: 1px solid #ddd;
  width: 85%;
  border-radius: 5px;
  margin: 20px auto 0;
}

.program__petapeta {
  height: 180px;
  margin: 5%;
  background: url(./images/petapeta.png);
  background-repeat: no-repeat;
  background-size: contain;
    background-position: center center;
}

.program__kitsune{
  height: 180px;
  margin: 5%;
  background: url(./images/fox.png);
  background-repeat: no-repeat;
  background-size: contain;
    background-position: center center;
}

.program__escapeMap{
  height: 180px;
  margin: 5%;
  background: url(./images/nigemap.jpg);
  background-repeat: no-repeat;
  background-size: contain;
    background-position: center center;
}

.program__dronebird{
  height: 180px;
  margin: 5%;
  background: url(./images/dronebird.jpg);
  background-repeat: no-repeat;
  background-size: contain;
    background-position: center center;
}

.program__mappingparty{
  height: 180px;
  margin: 5%;
  background: url(./images/mappingparty.png);
  background-repeat: no-repeat;
  background-size: contain;
    background-position: center center;
}

.program__sugoiBousai{
  height: 180px;
  margin: 5%;
  background: url(./images/deco.png);
  background-repeat: no-repeat;
  background-size: contain;
    background-position: center center;
}

.program__food{

  height: 180px;
  margin: 5%;
  background: url(./images/food.JPG);
  background-repeat: no-repeat;
  background-size: contain;
    background-position: center center;
}


.program__box{
width: 100%;
}

.program__title{
  font-size: 2rem;
  font-weight: bold;
}

.program__who{
  font-size: 1.5rem;
  margin-bottom: 10px;

}



.event {
  width: 80%;
  margin: 0 auto;
}
.event__title {
  padding-top: 20px;
}
.event__contents {
  margin-top: 5px;
}

.contents__link{
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}

.contents__link a{
  color: #E0201A;
}

.petapeta__link{
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}

.petapeta__link a{
  color: #E0201A;
}

.contents {
  display: inline-block;
  background: #fff;
  width: 100%;
  margin-bottom: 10px;
}

/*
.contents {
  display: inline-block;
  background: #fff;
  width: 30%;
}

.contents:first-child {
  margin-right: 4.5%;
}
.contents:last-child {
  margin-left: 4.5%;
}
*/
.contents__title {
  font-size: 2.2rem;
  font-weight: bold;
  padding-left: 20px;
}


.petapeta__thumbnail {
  height: 180px;
  margin: 5%;
  background: url(./images/petapeta.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.tsumamare__thumbnail {

  height: 180px;
  margin: 5%;
  background: url(./images/fox.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.deco__thumbnail {

  height: 180px;
  margin: 5%;
  background: url(./images/deco.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.nigemap__thumbnail {

  height: 180px;
  margin: 5%;
  background: url(./images/nigemap.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.dronebird__thumbnail {

  height: 180px;
  margin: 5%;
  background: url(./images/dronebird.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.mappingparty__thumbnail {
  height: 180px;
  margin: 5%;
  background: url(./images/mappingparty.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.tsumamare {
  font-size: 1.6rem;
  font-weight: bold;
  padding-top: 10px;
}


.contents__owner {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: right;
  padding: 10px 20px 10px 0;
}

.event__goDetail {
  width: 90%;
  color: #E0201A;
  font-size: 1.7rem;
  display: block;
  text-align: right;
  margin-top: 10px;
  text-decoration: underline;
}

.event__goDetail a:visited {
    color: #E0201A;
}

.booth {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.booth__title {
  margin-top: 5px;
}

.booth__contents {
  padding-top:5px;
}
.booth__goDetail {
  width: 90%;
  color: #E0201A;
  font-size: 1.7rem;
  display: block;
  text-align: right;
  margin-top: 10px;
  text-decoration: underline;
}

.booth__goDetail a {
    color: #E0201A;
}

.booth__goDetail a:visited {
    color: #E0201A;
}

.contents__thumbnail {
  width: 90%;
  height: 180px;
  padding: 5%;
}

.joinEvent {
  background-color: #E0201A;
  font-size: 2rem;
  font-weight: normal;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 15px 0 15px 0;
  text-decoration: underline;
}

.joinEvent a{
    color: #fff;
}

.joinEvent a:visited{
    color: #fff;
}

.access {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
  margin-top: 50px;
}

.access__title {
  margin-bottom: 20px;
}

.access__goDetail {
  width: 90%;
  color: #2A9CC9;
  font-size: 1.7rem;
  display: block;
  text-align: right;
  text-decoration: underline;
}

.access__goDetail a{
    color: #2A9CC9;
}

.access__goDetail a:visited{
    color: #2A9CC9;
}


.access__page{
  width: 95%;
  margin: 0 auto;
  padding-bottom: 20px;

}
.access__map{
  margin:20px 0 20px 0;
}

.access__howToGo{
  font-size: 1.1rem;

}

.access__description{
  margin-top: 20px;
  font-size: 1.7rem;
  margin-bottom: 20px;
}

.volunteer {
  width: 80%;
  background-color: #96c21c;
  color: white;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 1.5rem;
  text-align: center;
  padding: 20px 0 20px 0;
}

.sponsor {
  width: 80%;
  background-color: #E6E6E6;
  color: #999999;
  margin: 0 auto;
  margin-bottom: 50px;
  font-size: 1.5rem;
  text-align: center;
  padding: 20px 0 20px 0;
}

footer {
  width: 100%;
  background: #B3B3B3;
  color: #000;
  text-align: center;
  padding: 20px 0 20px 0;
}



.footer__link a{
  color: white;
}



.goTop__button {
  width: 80%;
  margin: 0 auto;
}

.goTop__button img {
  position: fixed;
  bottom: 20px;
}



.about{
  background-image:
  text-align: left;
  padding-top: 15px;
  margin: 0 auto;
  width: 95%;
}


.about__description {

  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}


.date__detail2 {
  font-weight: bold;
  font-size: 4rem;
}


.5w1h__info{
  margin-top: 20px;
}

.TNXsposor__list img{
  width: 15%;
  margin:auto 20px auto 0;

}


.TNXsposor__list{
  margin: 20px 0 50px 0;
}

.TNXsposor__contents{

  width: 80%;
  margin: 0 auto;
}

table strong{
  font-size: 2.5rem;
}

table{
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: 1.5rem;
  width:95%;
  margin: 0 auto;
}
tr{
  height: 50px;
  vertical-align:top;
  text-align: left;
}

th{
  color: gray;
  width:20%;
  vertical-align:top;
}



.topic{
  font-size: 2.5rem;
  font-weight: bold;
  border-bottom: 3px solid yellow;
}

.topic2{
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 3px solid yellow;
}

.topic3{
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 3px solid white;
}


.download{
  padding: 12px 12px 0 12px;
  margin: 0 0 50px 0;
  border: 1px solid #ddd;
  word-wrap: break-word;

  border-radius: 5px;
  height: 100px;
}
.download a{
  color: #2A9CC9;
}
.download__text{
  font-size: 1.2rem;
}

.download img{
  width: 80px;
  float: left;
  padding-right: 10px;
}

.bounty{
  width: 95%;
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
}
